osource "c:/users/ralls/github/rarebit-flags-receivers/boards/shields/*/Kconfig.defconfig"
osource "c:/ncs/v2.9.1/nrf/samples/bluetooth/peripheral_hr_coded/boards/shields/*/Kconfig.defconfig"
osource "C:/ncs/v2.9.1/nrf/boards/shields/*/Kconfig.defconfig"
